@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Offside&display=swap');
  
body {  
    margin: 0px;
    padding: 0px;
    color: var(--white);
    background-color: black;
    font-size: 16px;
}

:root {
    --red: #9e0101;
    --dark-red: #612626;
    --white: white;
  }
.logo{
    padding: 2rem 0px 2rem 4rem;
}
.logo   .logo-link{
    text-decoration: none;
    text-align: left;
    color:var(--red);
    font-size: 2.5rem;
    font-family: 'M PLUS Code Latin', sans-serif;
}

.quiz-container {
    padding: 0px 1rem;
    font-family: 'M PLUS Code Latin', sans-serif;
    font-size: 3rem;
    width: 40%;
    margin:auto;
}
.options {
    border-radius: 10px;
    text-align: center;
    list-style-type: none;
    font-size: 1.7rem;
    margin: 2rem auto;
    background-color: var(--white);
    color: var(--red);
    padding: 0.5rem;
    border: 3px solid var(--red);
}
#question {
    list-style-type: none;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.options:hover{
    background-color: #c21c1c;
    color: var(--white);
    cursor: pointer;
}

.outline {
    display: inline-block;
    color: var(--red);
    border:var(--red) 2px solid;
    font-size: 3rem;
    width: 100%;
    margin: auto;
    text-align: center;
}

.outline:hover{
    color: var(--white);
    background-color: var(--red);
    margin: auto;
    transition: 500ms ease-in-out;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2rem auto;
}

.next-link {
    text-decoration: none;
}

.footer-link{
    text-decoration: none;
    color: var(--red);
}

@media only screen and (max-width: 800px) {
    * {
      font-size: 12 px;
    }
    .quiz-li {
        font-size: 1.5rem;
        margin: 1rem 0px;
    }
  }