@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Offside&display=swap');

body{
    background-color: black;
    font-size: 16px;
    font-family: 'M PLUS Code Latin', sans-serif;
}
.header{
    margin-top: 2rem;
}
:root {
    --red: #9e0101;
    --dark-red: #612626;
    --white: white;
  }

.logo {
    margin: 2rem 2rem 4rem 2rem;
    text-align: left;
    color:var(--red);
    font-size: 2.5rem;
    font-family: 'M PLUS Code Latin', sans-serif;
    cursor: pointer;
    text-decoration: none
}

.main {
    width: 70%;
    margin: 2rem auto;
}

.banner-img {
    width: 100%;
    height: auto;
}

.rules-text {
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    margin: 3rem auto 2rem auto;
}

.rule-link {
    color: var(--red);
    margin-left: 1rem;
}

.rule-link:hover {
    background-color: var(--red);
    color: var(--white);
    transition: 700ms;
}
.outline {
    color: var(--red);
    border:var(--red) 2px solid;
    font-size: 3rem;
    width: 18%;
    margin: auto;
    text-align: center;
}

.outline:hover{
    color: var(--white);
    background-color: var(--red);
    margin: auto;
    transition: 500ms ease-in-out;
}

.start-quiz-link {
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    * {
      font-size: 12px;
    }

    .outline {
        margin: 3rem auto;
        width: 40%;
        font-size: 2rem;
    }
  }